<ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="background">
    <img src="assets/images/logo_sgs.svg" alt="logo_sgs">
    <img src="assets/images/polygon_verde_splash.svg" alt="pol_verde"/>
    <img src="assets/images/Polygon_azul_splash.svg" alt="pol_azul"/>
    <img src="assets/images/Ellipse_blanco_splash.svg" alt="circ_blanco"> 
    <img src="assets/images/logo_coopedac.svg" alt="logo_coopedac"/>
    <img src="assets/images/Polygon_naranja_splash.svg" alt="pol_naranja"/>
    <img>
  </div>
    
</ion-content>
